body {
  padding: 25px;
  color: #ff55ff;
  font-family: Courier New, Courier, sans-serif;
}

#whirld-header,
p {
  text-align: center;
}

#whirld-chat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  height: 70vh;
  overflow: hidden;
}

#whirld-chat > * {
  position: relative;
  font-size: 20px;
}

.brutal-borders {
  border: 3px solid blue;
  box-shadow: 5px 5px 0 #ff99ff;
}

